@model NationalParksHiking.Models.HikerParkWishlist

@{
    ViewBag.Title = "Details";
}

    <div class="container-fluid body-content">

        <h2>@Html.DisplayFor(model => model.Hiker.FirstName) Details</h2>
        <hr />

        @*@{
            // Create an empty list for the marker values to add into
            List<NationalParksHiking.Models.HikerParkViewModel> wishlistItems = new List<NationalParksHiking.Models.HikerParkViewModel>();
        }
        @foreach (var item in Model.HikerParkWishlist.Park.ParkName)
        {
            // Add Markers
            NationalParksHiking.Models.HikerParkViewModel wishlistItem = new NationalParksHiking.Models.HikerParkViewModel();
            //Assign required parameters
            wishlistItem.HikerParkWishlist = wishlistItem.HikerParkWishlist;
            //Actually add all three values together into the parkMarker object
            wishlistItems.Add(wishlistItem);
        }*@
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Hiker.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hiker.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hiker.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hiker.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hiker.StreetAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hiker.StreetAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hiker.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hiker.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hiker.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hiker.State)
            </dd>

            @Html.HiddenFor(model => model.Hiker.Longitude)
            @Html.HiddenFor(model => model.Hiker.Longitude)
        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Hiker.HikerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Hiker.HikerId })
        </p>
    </div>
