@model NationalParksHiking.Models.HikingTrail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HikingTrail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Park.ParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Park.ParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HikingApiCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HikingApiCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
