@model NationalParksHiking.Models.HikingTrail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HikingTrail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Park.ParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Park.ParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailDifficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailSummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HikingApiCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HikingApiCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
