@model IEnumerable<NationalParksHiking.Models.HikingTrail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrailName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailDifficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailSummary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrailCondition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
            @Html.HiddenFor(modelItem => item.Park.ParkName)
        <td>
            @Html.DisplayFor(modelItem => item.TrailName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailDifficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailCondition)
        </td>
            @Html.HiddenFor(modelItem => item.HikingApiCode)
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrailId })
        </td>
    </tr>
}

</table>
