@model NationalParksHiking.Models.ParkTrailRatingViewModel

@{
    ViewBag.Title = "Details";
}

<div class="header-container">
    <h1>@Html.DisplayFor(model => model.Park.ParkName)</h1>
    <div class="weather-info">
        <h2>Current Weather</h2>
        <span>@Model.Park.CurrentWeatherInfo.temperature &deg;F | </span>
        <span>@Model.Park.CurrentWeatherInfo.condition | </span>
        <span>Wind: @Model.Park.CurrentWeatherInfo.wind mph</span>
    </div>
</div>

    <div class="flex-container">
        <div class="flex-box">
            <div class="content-box">
                @Html.ActionLink("Add Park to Wish List", "AddParkToWishList", new { @id = Model.Park.ParkId }, new { @class = "btn btn-default" })

                <h3>Located in: @Html.DisplayFor(model => model.Park.ParkState)</h3>
                <p>@Html.DisplayFor(model => model.Park.ParkDescription)</p>
            </div>
        </div>
        <div class="flex-box solo-park-map">
            <div id="map"></div>
        </div>
        <hr />
    </div>

    <div class="park-header">
        <h2>Trails available at <em>@Html.DisplayFor(model => model.Park.ParkName)</em></h2>
    </div>

    <div class="trail-list">
        @foreach (var item in Model.Park.Trails)
        {
        <div class="trail-box">
            <div class="col-md-6">
                <h3>@Html.DisplayFor(model => item.TrailName)</h3>
                <h3>Trail Summary:</h3>
                <p>@Html.DisplayFor(model => item.TrailSummary)</p>
            </div>
            <div class="col-md-4 centered-flex">
                <p><strong>Trail Difficulty:</strong> @Html.DisplayFor(model => item.TrailDifficulty)</p>
                <p><strong>Trail Length:</strong> @Html.DisplayFor(model => item.TrailLength)</p>
                <p><strong>Trail Condition:</strong> @Html.DisplayFor(model => item.TrailCondition)</p>
            </div>
            <div class="col-md-2">
                <p><strong>Trail Rating:</strong></p>
                @Html.DisplayFor(model => item.AverageUserRating)
            </div>
            <div class="col-md-2">
                <p><strong>Review This Trail:</strong></p>
                @using (Html.BeginForm())
                {
                    <div class="flex-container">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="flex-container">
                                        <div class="state-filter-box">
                                            @Html.DropDownListFor(model => model.SelectedRating, Model.StarRating, "Please Rate Trail")
                                        </div>
                                        <div class="state-filter-box">
                                            <input type="submit" value="Rate" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        }
    </div>    

    <div class="container-fluid body-content">
        @Html.HiddenFor(model => model.Park.ParkLat)
        @Html.HiddenFor(model => model.Park.ParkLng)
        @Html.HiddenFor(model => model.Park.ParkId)

        <p>
            @Html.ActionLink("Back to Parks", "Index", "Parks")
        </p>
    </div>
    <script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @ViewBag.ParkLat, lng: @ViewBag.ParkLng }, // General Middle of the US
            zoom: 6
        });
        var @ViewBag.ParkVarName = new google.maps.Marker({
            position: { lat: @ViewBag.ParkLat, lng: @ViewBag.ParkLng },
            map: map
        });
    }
    </script>
    <script src=@ViewBag.APIKey async defer type="text/javascript"></script>
