@model NationalParksHiking.Models.Park

@{
    ViewBag.Title = "Details";
}

<div class="header-container">
    <h1>@Html.DisplayFor(model => model.ParkName)</h1>
    <div class="weather-info">
        <h3>Current Weather</h3>
        <span>@Model.CurrentWeatherInfo.temperature &deg;F | </span>
        <span>@Model.CurrentWeatherInfo.condition | </span>
        <span>Wind: @Model.CurrentWeatherInfo.wind MPH</span>
    </div>
</div>


<div class="container body-content">
    <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParkState)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParkState)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParkLat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParkLat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ParkLng)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParkLng)
            </dd>
        </dl>

    <p>
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>