@model NationalParksHiking.Models.Park

@{
    ViewBag.Title = "Details";
}

<div class="header-container">
    <h1>@Html.DisplayFor(model => model.ParkName)</h1>
    <div class="weather-info">
        <h2>Current Weather</h2>
        <span>@Model.CurrentWeatherInfo.temperature &deg;F | </span>
        <span>@Model.CurrentWeatherInfo.condition | </span>
        <span>Wind: @Model.CurrentWeatherInfo.wind MPH</span>
    </div>
</div>


<div class="container body-content">
    <div class="flex-container">
        <div class="flex-box">
            <h3>Located in: @Html.DisplayFor(model => model.ParkState)</h3>
            <p>@Html.DisplayFor(model => model.ParkDescription)</p>
        </div>
        <div class="flex-box">
            <p>Test</p>
        </div>
    </div>

    @Html.HiddenFor(model => model.ParkLat)
    @Html.HiddenFor(model => model.ParkLng)

    <p>
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>