@model IEnumerable<NationalParksHiking.Models.HikerParkWishlist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hiker.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Park.ParkName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hiker.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Park.ParkName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HikerParkWishlistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HikerParkWishlistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HikerParkWishlistId })
        </td>
    </tr>
}

</table>
